@media screen and (min-width: 776px) {
    .main{
        width:750px;
        min-width:300px;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .result{
        float:right;
        width: 280px;
    }
    #form{
        width:47%;
        float:left;
    }
    .input{
        font-size:18px;
        font-weight: bold;
        color:hsl(184, 14%, 56%);
        text-indent:70%;
        font-family: "Space Mono", monospace;
        margin:10px 10px 10px 0px;
        width:100%; 
        border:none;
        background-color:hsl(180, 33%, 92%);
        border-radius:5px;
        height:40px;
    }
    .button{
        width:109.8px;
    }
}