@media screen and (min-width: 776px) {
    .main{
        width:750px;
        min-width:300px;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .result{
        float:right;
        width: 280px;
    }
    #form{
        width:47%;
        float:left;
    }

    .button{
        width:109.8px;
    }
    #custom{
        width:100px;
    }
}