@media screen and (max-width: 776px) {

    .main{
        height: 100%;
        margin-top:50px;
    }
    .result{
        width:270px;
        clear:both;
        margin-top:20px;
        width:10%
    }

    .button{
        width:145px;
    }
}